<div class="container py-4">

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">CRUD Livraria</h1>
        <p class="col-md-8 fs-4">Projeto de Cadastro, Leitura, Edição e Exclusão de livros de uma Livraria. Front-End criado com Angular 15, Back-End criado com Java 8 + Spring Boot e o Banco de Dados H2 em memória. Criado durante o Treinamento Jovens Profissionais.</p>
        <a class="btn btn-warning btn-lg" href="https://github.com/isaaclouzeiro" target="_blank">Acesse no Github</a>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Back-End do Projeto</h2>
          <p>Back-End criado com Java 8 e Spring Boot + Banco de dados H2.</p>
          <a class="btn btn-outline-warning" href="https://github.com/IsaacLouzeiro/livraria-crud-java" target="_blank">Acesse no Github</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Front-End do Projeto</h2>
          <p>Front-End criado com Angular + Typescript (Esse projeto).</p>
          <a class="btn btn-outline-secondary" href="https://github.com/IsaacLouzeiro/livraria-angular" target="_blank">Acesse no Github</a>
        </div>
      </div>
    </div>
  </div>
